@import "tailwindcss";

@theme {

  --color-brand-50: #EAF3DE;
  --color-brand-100: #C0DD97;
  --color-brand-500: #639922;
  --color-brand-600: #3B6D11;
  --color-brand-900: #173404;


  --color-accent-100: #FAC775;
  --color-accent-500: #EF9F27;
  --color-accent-900: #412402;

  --font-heading: "Zen Maru Gothic", sans-serif;
  --font-body: "M PLUS Rounded 1c", sans-serif;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
}
